@charset "utf-8";
/* CSS Document */

/**Background transparent*/
div.blackoutModal{
	
    position: fixed !important;
	top:0;
	left:0;
	z-index:9999;
	background-color:#000;
	width:100%;
	height:100%;
	
	opacity:0.3;
	-moz-opacity: 0.3;
	filter: alpha(opacity=30);	

}

/**Carregamento da janela modal*/
div.modal-box{

	position:fixed;
	width:auto;
	height:auto;
	left:50%;
	top:45%;
    padding: 2px;
	z-index:99999;
}


div.btn-exemple{

    margin: 60px;
}

div.btn-exemple button{

    margin: 2px;
}